@using Blog.Models
@model BlogPost

<!-- Page Header -->
@{
    var backGroundImage = "/img/HeilRanch.JPG";
    if (Model.MediaUrl != null)
    {
        backGroundImage = Model.MediaUrl;
    }
}
    <header class="masthead" style="background-image: url('@backGroundImage')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>@Model.Title</h1>
                        <h2 class="subheading">@Model.Abstract</h2>
                        @if (Model.Published)
                        {
                            <span class="meta">
                                Posted by <a href="http://davidetzelportfolio.azurewebsites.net" target="_blank">David Etzel</a> on @Model.Created.ToString("MMMM d, yyyy")
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>

        <!-- Post Content -->
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        @Html.Raw(Model.Body)
                        @if (Model.MediaUrl != null)
                        {
                            <img class="img-fluid" src="@Model.MediaUrl" />
                        }
                    <div class="form-group">
                        @if (User.IsInRole("Admin") && !Model.Published)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Back to List", "Unpublished", null, new { @class = "btn btn-default" })
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Back to List", "AdminIndex", null, new { @class = "btn btn-default" })
                        }
                        else
                        {
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                        }
                    </div>
                    </div>
                </div>
            </div>
        </article>

     